.comesoon {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* h1 {
  text-align: center;
  color: rgb(4, 136, 94);
} */

.text1 {
  color: rgb(5, 86, 47);
}
